
* {
    box-sizing: border-box;
    font-family: Trade Gothic,sans-serif;
  }
  
  html,
  body {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #d1b1bb;
  }
  
  /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
  .wrapper {
    position: relative;
    min-height: 100%;
    padding-bottom: 130px;
    overflow: auto;
    background-color: #d1b1bb;
  }
  
  /* The footer is positioned at the bottom of the page */
  .footer {
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 50px;
    background: #96a7b8;
  }
  
  /* The code styles the text at the bottom of the footer */
  .footer > .bottom {
    /* position: relative; */
    text-align: center;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #96a7b8;
  }
  
  .navbar {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    background: #b5c5d4;
    font-style: black;
  }
  
  
  /* The styles for the parallax */
  .hero {
    position: relative;
    height: 300px;
    padding: 10px;
    margin: 0;
    background: rgb(245, 195, 195);
    background-image: url("../images/glitter.jpeg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }
  
  .hero h1 {
    margin-top: 50px;
    font-size: 0.1rem;
    position: relative;
    color: rgb(188, 197, 218);
    -webkit-text-stroke: 2px #1b3146;
    animation: title 1.2s forwards linear;
  }

  .h3 {
    text-align: center;
    margin: auto;
  }
  
  /* .hero p { */
    /* font-size: 2rem; */
    /* /* -webkit-text-stroke: 0.2px #1b3146; */ */
    /* opacity: 0; */
    /* /* animation: subtitle 1.2s forwards linear; */ */
    /* animation-delay: 1.2s; */
  /* } */
  
  /* input placeholder color changes */
  .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #8e979f;
  }
  
  .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #8e979f;
  }
  
  .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #8e979f;
  }
  
  .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #8e979f;
  }
  
  /* media queries which will only be activated at specific screen sizes */
  @media (max-width: 800px) {
    #table-area td {
      font-size: 1em;
    }
  }
  
  @media (max-width: 500px) {
    #table-area thead {
      display: none;
    }
  
    #table-area tr td:first-child {
      font-size: 1.8em;
      font-weight: bold;
      background: #ffffff;
    }
  
    #table-area tr td:last-child {
      margin-bottom: 20px;
    }
  
    #table-area tr td:last-child::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 20px;
      content: " ";
      background: aliceblue;
    }
  
    #table-area td {
      font-size: 1.25em;
    }
  
    #table-area tbody td {
      display: block;
      text-align: center;
    }
  
    #table-area tbody td::before {
      display: block;
      font-size: 1.4em;
      font-weight: bold;
      text-align: center;
      content: attr(data-th);
    }
  
    .hero h1 {
      animation: smaller-title 1.2s forwards linear;
    }
  }

/* CAROUSEL STARTS HERE */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
  /* keyframe animations which will be used to animate the title */
  @keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  } 
 